/****************************
 *		1200px and up		*
 ****************************/

 
/******************************
 *		800px to 1199px		  *
 ******************************/
@media (max-width: 1199px) {

}
 /****************************
 *		600px to 799px		*
 ****************************/
@media (max-width: 799px) {

}
 
/****************************
 *		Up to 599px			*
 ****************************/
@media (max-width: 599px) {

}
