/****************************************
 *		Styles Unique to Home Page		*
 ****************************************/
main {
	margin-top: 12vh;
	position: relative;
	text-align: center;
}
main  span.message {
	display: block;
	font-family: Lulo, sans-serif;
	padding-bottom: 2em;
	line-height: 2em;
	font-size: 1.5em;
}
main span.message:last-of-type{
	padding: 2em 0 0 0;
}
main  h1 {
	color: #C5B358;
	font-family: Coronet, serif;
	font-size: 100px;
	display:inline-block;
	width: 220px;
	vertical-align: middle;
}
main  img {
	padding: 25px 25px 25px 40px;
	height: 100px;
	display:inline-block;
}

/************************
 *		Responsive		*
 ************************/
@media (max-width: 799px) {
	main h1 {
		font-size: 75px;
		width: 160px;
	}
	main span.message {
		font-size: 1em;
	}
}
@media (max-width: 599px) {
	main {
		margin-top: 10vh;
	}
	main span.message {
		margin-bottom: 1em;
		font-size: .8em;
	}
	main h1 {
		font-size: 50px;
		display: block;
		width: 100%;
		margin-left: -0.25em;
		margin-bottom: 0.5em;
	}
	main h1:last-of-type{
		margin-bottom: 0;
	}
}