@font-face {
	font-family: 'Coronet';
    src: url('fonts/coronet.eot');
    src: url('fonts/coronet.eot?iefix') format('eot'), 
         url('fonts/coronet.woff') format('woff'), 
         url('fonts/coronet.ttf') format('truetype'), 
         url('fonts/coronet.svg#webfont') format('svg');
}
@font-face {
	font-family: 'Lulo';
    src: url('fonts/lulo.eot');
    src: url('fonts/lulo.eot?iefix') format('eot'), 
         url('fonts/lulo.woff') format('woff'), 
         url('fonts/lulo.ttf') format('truetype'), 
         url('fonts/lulo.svg#webfont') format('svg');
}
/************************
 *		CSS RESET		*
 ************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus {
    outline:none;
}
strong {
	font-weight: bold;
}
/************************
 *		1200px up		*
 ************************/
/* Structure */
html, body {
	height: 100%;
}
body {
	/* default black */
	color: #413E34;
	
	/* plank background */
	background-color: #8F7F71;
	background-image: url("../assets/wood-bg.png");
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("../assets/wood-bg.png");
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.12)), color-stop(100%, rgba(0,0,0,0.50))), url("../assets/wood-bg.png");
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("../assets/wood-bg.png");
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("../assets/wood-bg.png");
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("../assets/wood-bg.png");
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("../assets/wood-bg.png");
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    background-attachment: fixed;
}
.container {
	margin: 0 auto -15em; /* negative margin is footer size */
	width: 1080px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	/* white trim */
	border-right: 20px solid #fff;
	border-left: 20px solid #fff;
	
	/* shadow */
	box-shadow: 0px 0px 20px 2px rgba(50, 50, 50, 0.66);
	
	/* gradient background */
	background: rgba(255,253,242,1);
	background: -moz-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,253,242,1)), color-stop(100%, rgba(253,245,204,1)));
	background: -webkit-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: -o-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: linear-gradient(to bottom, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf2', endColorstr='#fdf5cc', GradientType=0 );
	background-repeat: no-repeat;
    background-attachment: fixed;
}
footer, .push {
	height: 15em; /* footer size */
}

/* Mobile Navigation Accordion */
nav.mobile h2 {
	text-align: center;
	padding: 1em 0em;
	font-size: 100%;
}
nav.mobile {
	padding: 0;
	display: none;
	background-color: #fff;
}
nav.mobile ul {
	display: none;
}
nav.mobile ul li {
	display: block;
	width: 100%; 
}
nav.mobile ul li {
	padding: 0.5em 0em;
}
nav.mobile:hover > ul,
nav.mobile:focus > ul {
	display: block;
}
nav.mobile:hover > h2,
nav.mobile:focus > h2 {
	color: #e0e0e0;
}
/* Horizontal Navigation Bar */
nav {
	padding: 20px 0px;
	font-family: Lulo, sans-serif;
	font-size: 18px;
}
nav  ul {
	text-align: center;
}
nav  ul  li {
	vertical-align: top;
	display: inline-block;
}
nav  ul  li  a {
	display: inline-block;
	width: 132px;
	padding: 0.5em;
	color: #413E34;
	text-decoration: none;
}
nav  ul  li  a:hover,
nav  ul  li  a:focus {
	color: #555;
	padding-top: 0.35em;
	padding-bottom: 0.65em;
	text-shadow: 0em 0.15em 0em #e0e0e0;
}
nav  ul  li  a:active {
	color:  #e0e0e0;
	padding: 0.5em;
	text-shadow: none;
}

/*Styles for footer and footer Image*/
footer {
	width: 1080px;
	margin: 0 auto;
	position: relative; /* required for absolute child img */
}
footer img {
	height: 85%;
	margin: 0 auto;
	position: absolute; /* required to make footer stick to bottom */
	bottom: 0;
	right: 0;
	left: 0;
}

/* For Announcement Pages */
main.announcement {
	font-family: Coronet, serif;
	font-size: 4em;
	text-align: center;
	padding: 4em 0em;
}

/******************************
 *		800px to 1199px		  *
 ******************************/
@media (max-width: 1199px) {
	body {
		background: none;
	}
	.container, footer {
		width: 100%;
		border: none;
		box-shadow: none;
	}
}
 /****************************
 *		600px to 799px		*
 ****************************/
@media (max-width: 799px) {

}
 
/****************************
 *		Up to 599px			*
 ****************************/
@media (max-width: 599px) {
	footer img {
		height: auto;
		max-width: 450px;
		width: 85%;
	}
	nav:not(.mobile) {
		display: none;
	}
	nav.mobile {
		display: block;
	}
	main.announcement {
		font-size: 2em;
	}
}
