---
layout: default
title: GALLERY | Kenya & Daniel
style: gallery
---
<main id="gallery">
	{% for folder in site.gallery-photos %}
		<h2>{{ folder.name }}</h2>
		{% if folder.photos %}
			{% assign sortedPhotos = (folder.photos | sort: "size") %}
			<section id="{{ folder.id }}">
				{% for file in sortedPhotos %}
				<div img-width="{{ file.width }}" img-height="{{ file.height }}" img-size="{{ file.size }}">
					<img src="{{ site.app-path | append: site.empty-image-path }}" data-src="{{ file.url }}" title="{{ file.title }}" alt="{{ file.tags | join: ' '}}" />
				</div>
				{% endfor %}
			</section>
		{% else %}
			<span>There&nbsp;are no&nbsp;photos yet!</span>
		{% endif %}
	{% endfor %}
</main>