/************************
 *		1200px up		*
 ************************/
html {
	height: 100%;
}
body {
	color: #413E34;
	height: 100%;
	
	background-image: url("assets/wood-bg.png");
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("assets/wood-bg.png");
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.12)), color-stop(100%, rgba(0,0,0,0.50))), url("assets/wood-bg.png");
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("assets/wood-bg.png");
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("assets/wood-bg.png");
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("assets/wood-bg.png");
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 50%, rgba(0,0,0,0.50) 100%), url("assets/wood-bg.png");
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    background-attachment: fixed;
}
.container {
	margin: 0 auto -15em;
	width: 1080px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	
	border-right: 20px solid #fff;
	border-left: 20px solid #fff;
	
	box-shadow: 0px 0px 20px 2px rgba(50, 50, 50, 0.66);
	
	background: rgba(255,253,242,1);
	background: -moz-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,253,242,1)), color-stop(100%, rgba(253,245,204,1)));
	background: -webkit-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: -o-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	background: linear-gradient(to bottom, rgba(255,253,242,1) 0%, rgba(253,245,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf2', endColorstr='#fdf5cc', GradientType=0 );
	background-repeat: no-repeat;
    background-attachment: fixed;
}
footer, .push {
	height: 15em;
}
main {
	margin-top: 20vh;
	position: relative;
	text-align: center;
}
main  span.message {
	display: block;
	font-family: Lulo, sans-serif;
	padding-bottom: 25px;
	line-height: 2em;
}
main  h1 {
	font-family: Coronet, cursive;
	font-size: 100px;
	display:inline-block;
	width: 220px;
	vertical-align: middle;
}
main  img {
	padding: 25px 25px 25px 40px;
	height: 100px;
	display:inline-block;
}
nav.mobile h2 {
	text-align: center;
	padding-bottom: 20px;
}
nav.mobile {
	display: none;
	background-color: #fff;
}
nav.mobile ul {
	display: none;
}
nav.mobile ul li {
	display: block;
	width: 100%; 
}
nav.mobile ul li {
	padding: 0.5em 0em;
}
nav.mobile:hover > ul {
	display: block;
}
nav.mobile:hover > h2 {
	display: none;
}
nav {
	padding-top: 20px;
	font-family: Lulo, sans-serif;
	font-size: 18px;
}
nav  ul {
	text-align: center;
}
nav  ul  li {
	vertical-align: top;
	display: inline-block;
}
nav  ul  li  a {
	display: inline-block;
	width: 132px;
	padding: 0.5em;
	color: #413E34;
	text-decoration: none;
}
nav  ul  li  a:hover {
	color: #555;
	padding-top: 0.35em;
	padding-bottom: 0.65em;
	text-shadow: 0em 0.15em 0em #e0e0e0;
}
nav  ul  li  a:active {
	color:  #e0e0e0;
	padding: 0.5em;
	text-shadow: none;
}
footer {
	width: 1080px;
	margin: 0 auto;
	position: relative;
}
footer img {
	height: 85%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
/******************************
 *		800px to 1199px		  *
 ******************************/
 @media (max-width: 1199px) {
	body {
		background: none;
	}
	.container, footer {
		width: 100%;
		border: none;
		box-shadow: none;
	}
 }
 @media (max-width: 799px) {
	main h1 {
		font-size: 75px;
		width: 160px;
	}
 }
 @media (max-width: 599px) {
	main h1 {
		display: block;
		width: 100%;
		margin-left: -0.25em;
		margin-bottom: 0.5em;
	}
	main h1:last-of-type{
		margin-bottom: 0;
	}
	footer img {
		height: auto;
		max-width: 450px;
		width: 85%;
	}
	nav:not(.mobile) {
		display: none;
	}
	nav.mobile {
		display: block;
	}
 }