/****************************
 *		1200px and up		*
 ****************************/
#gallery section {
	/* Prevent vertical gaps */
	line-height: 0;

	-webkit-column-count: 3;
	-webkit-column-gap:   0px;
	-moz-column-count:    3;
	-moz-column-gap:      0px;
	column-count:         3;
	column-gap:           0px;
	
	margin-bottom: 25px;
	overflow: visible;
}
#gallery h2 {
	font-family: Coronet, serif;
	text-align: center;
	font-size: 4em;
	padding: 25px 0;
}
#gallery span {
	display: block;
	color: #999;
	width: 100%;
	font-family: Lulo;
	text-align: center;
	font-size: 1em;
	margin-bottom: 1.5em;
}
#gallery section img {
	/* Just in case there are inline attributes */
	width: 100%;
	height: auto;
	opacity: 0;
	transition: all 200ms ease-in;
	
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid;
	-webkit-backface-visibility:hidden;
}
#gallery section img:hover {
    -webkit-transform: 	scale(1.5);
    -moz-transform: 	scale(1.5);
    -o-transform: 		scale(1.5);
    -ms-transform: 		scale(1.5);
    transform: 			scale(1.5);
	-webkit-transition: transform 200ms ease-in;
	cursor: pointer;
}
#gallery section div {
	display: block;
	overflow: hidden;
	position: relative;
}
/******************************
 *		800px to 1199px		  *
 ******************************/
@media (max-width: 1199px) {
	#gallery section {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}
 /****************************
 *		600px to 799px		*
 ****************************/
@media (max-width: 799px) {
	#gallery section {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
	#gallery h2 {
		font-size: 3.5em;
	}
}
 
/****************************
 *		Up to 599px			*
 ****************************/
@media (max-width: 599px) {
	#gallery section {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
	#gallery h2 {
		font-size: 3em;
	}
}
