<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="author" content="Daniel Franz">
	<meta name="description" content="Wedding RVSP website for Daniel Franz & Kenya Suhan">
	<meta name="keywords" content="Wedding, Gallery, RVSP, Vancouver, August 2016, Franz, Suhan">
	
	<title>{{ page.title }}</title>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ site.app-path }}/sunflower2.png" type="image/x-icon">
	<link rel="icon" href="{{ site.app-path }}/sunflower2.png" type="image/x-icon">
	
	<!-- Load Page Assets -->
	<link rel="stylesheet" type="text/css" href="{{ site.app-path }}/styles/main.css">
	<link rel="stylesheet" type="text/css" href="{{ site.app-path }}/styles/{{ page.style }}.css">
	
	<!-- Load Javascript -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
	<script type="text/javascript" src="{{ site.app-path }}/scripts/unveil.js"></script>
	<script type="text/javascript" src="{{ site.app-path }}/scripts/md5.min.js"></script>
	<script type="text/javascript" src="{{ site.app-path }}/scripts/mask.min.js"></script>  	
	<script type="text/javascript" src="{{ site.app-path }}/scripts/app.js"></script> 
</head>
<body>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ site.app-path }}/details">DETAILS</a></li>
				<li><a href="{{ site.app-path }}/rsvp">RSVP</a></li>
				<li><a href="{{ site.app-path }}/gallery">GALLERY</a></li>
			</ul>
		</nav>
		<nav class="mobile"><h2>MENU</h2>
			<ul>
				<li><a href="{{ site.app-path }}/details">DETAILS</a></li>
				<li><a href="{{ site.app-path }}/rsvp">RSVP</a></li>
				<li><a href="{{ site.app-path }}/gallery">GALLERY</a></li>
			</ul>
		</nav>
		<!-- CONTENT GOES HERE -->
		{{ content }}
		<div class="push"></div> <!-- Required to make footer work -->
	</div>
	<footer>
		<img src="{{ site.app-path }}/assets/sunflower2.png" alt="sunflower accent">
	</footer>
</body>
</html>